{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/home.css' %}">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.2.1-web/css/all.min.css' %}">
      <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
      
      <title>Face</title>
   </head>
   <body>
      <nav>
         <div class="nav-left">
            <img src="{%static 'img/logo.png'%}" alt="logo">
            <input type="text" placeholder="Faceを検索">
         </div>
         <div class="nav-middle">
            <a href="http://127.0.0.1:8000/home/" class="active">
            <i class="fa-solid fa-house"></i>
            </a>
         </div>
         <div class="nav-right">
            <div class="nav-right-user-main">
               {% if user.username %}
               <p>
               <h3>ようこそ!</h3>
               <span class="profile"></span>
               {{user.username}}</p>
               <p><a href="{% url 'logout' %}">ログアウト</a></p>
               {% else %}
               <p><a href="{% url 'register' %}">サインアップ</a>
                  <a href="{% url 'login' %}">ログイン</a>
               </p>
               {% endif %}
            </div>
         </div>
      </nav>
      <div class="container">
         <div class="left-panel">
            <ul>
            <li>
               <span class="profile"></span>
               {{user.username}}</p>
            </li>
         </div>
         <div class="middle-panel">
            <div class="middle-panel-nav">
               <div class="post">
                  <div class="post-top">
                     <div class="dp">
                        <img src="{%static 'img/meo.jpg' %}" alt="ảnh đại diện">
                     </div>
                     <div id="create-post-popup" class="popup-post">
                        <form class="post-form" method="POST" enctype="multipart/form-data">
                           <div class="post-nav">
                              <h2>投稿を作成</h2>
                              <p class="popup-close">
                                 <i class="fa-solid fa-xmark"></i>
                              </p>
                           </div>
                           <hr>
                           <div class ="post-content">
                              {% csrf_token %}
                              {{ post_form.as_p }}
                           </div>
                           {% comment %} <input type="file" name="avatar"> {% endcomment %}
                           <button class="post-up" type="submit">投稿</button>
                        </form>
                     </div>
                     <div id="create-post-button" class="create-post-input">
                        その気持ち、シェアしましょう
                     </div>
                  </div>
                  <div class="post-bottom">
                     <div class="action">
                        <i class="fa-solid fa-video"></i>
                        <span>ラライブ動画</span>
                     </div>
                     <div class="action">
                        <i class="fa-regular fa-images"></i>
                        <span>写真/動画</span>
                     </div>
                     <div class="action">
                        <i class="fa-regular fa-face-grin-wide"></i>
                        <span>気持ち/アクティビティ</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="post">
               <div class="post-content">
                  {% for post in posts %}
                  {% csrf_token %}
                  <div class="post">
                     <div class="post-top">
                        <div class="dp">
                           
                           <img src="{%static 'img/img-p2.jpg' %}" alt="ảnh đại diện">
                        </div>
                        <div class="post-info">
                           <h5>{{ post.authorr.username }}</h5>
                           <p>{{ post.date_posted }}</p>
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                     </div>
                     {% comment %} 
                     <h2>{{ post.title }}</h2>
                     {% endcomment %}
                     <p>{{ post.content }}</p>
                     
                     {% comment %} Lỗi ảnh post {% endcomment %}

                     {% comment %} {% if post.image %}
                        <img src="{{ post.image.url }}" alt="ảnh-post" width="527px" height="300px">
                     {% else %}
                        <img src="{{ post.image.url }}" style="display: none;">
                     {% endif %} {% endcomment %}


                     {% comment %} {%static 'img/meo.jpg'%} {% endcomment %}
                     <div class="post-bottom">
                        <div class="action">
                                 <button class="like-btn liked" data-id="{{ post.id }}">
                                    <i class="far fa-thumbs-up"></i>いいね！
                                 </button>
                                 <span class="like-count-{{ post.id }}">{{ post.likes }}</span>
                        </div>
                        <div class="action">
                           <i class="fas fa-share"></i>
                           <span>シェア</span>
                        </div>
                     </div>
                     <div class="post-comment">
                        <div class="comment-form">
                           <form method="POST" action="{% url 'post' post.pk %}">
                              {% csrf_token %}
                              {{ comment_form.as_p }}
                              
                              <input type="hidden" name="post_id" value="{{ post.pk }}">
                              <button class="cmt" type="submit">コメントする</button>
                           </form>
                        </div>
                        {% for comment in post.comments.all %}
                        <div class="comment">
                           <div class="post-top">
                              <div class="dp">
                                 <img src="{%static 'img/meo.jpg'%}" alt="img-p2">
                              </div>
                              <div class="post-info">
                                 <h5>{{ comment.author.username }}</h5>
                                 <p>{{ comment.body }}</p>
                                 <h6>{{ comment.date }}</h6>
                              </div>
                           </div>
                        </div>
                        {% empty %}
                        <p>まだコメントはありません.</p>
                        {% endfor %}
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
         <div class="right-panel">
            <div class="contact">
               <h4>連絡先</h4>
               <hr>
               <div class="users">
                  {% if logged_in_users %}
                  <ul>
                     
                      {% for user in logged_in_users %}
                      
                      <li>
                        
                          <a>
                           <div class="post">
                              <div class="post-top">
                                  <div class="dp">
                                    {% if user.profile.image %}
                                          <img src="{{ user.profile.image.url }}" alt="Avatar">
                                    {% else %}
                                          <img src="{% static 'img/meo.jpg' %}"> 
                                    {% endif %}
                                  </div>
                                  {{ user.username }}
                              </div>
                           </div>
                          </a>
                      </li>
                      {% endfor %}
                  </ul>
                  {% else %}
                  <p>ログインしていません</p>
                  {% endif %}
              </div>
              
              
            </div>
         </div>
      </div>
      <script src="{%static 'js/home.js' %}"></script>
      <script src="{%static 'js/like.js' %}"></script>
      
      


   </body>
</html>